<mat-divider></mat-divider>
<div class="footer-container">
  <button class="mat-elevation-z2 source-code-btn btn footer" mat-flat-button color="accent"
          (click)="openLink('https://www.google.com/maps/place/Bonn/')">
    <mat-icon class="footer-items">place</mat-icon>
    Bonn, NW
  </button>
  <button class="mat-elevation-z2 source-code-btn btn footer-items" mat-flat-button color="accent"
          onclick="parent.location='mailto:oowais@gmail.com'">
    <mat-icon class="footer-items">email</mat-icon>
    Contact via email
  </button>
  <button class="mat-elevation-z2 source-code-btn btn footer-items" mat-flat-button color="accent"
          (click)="openLink('https://github.com/oowais')">
    <mat-icon class="footer-items">bug_report</mat-icon>
    Github
  </button>
  <button class="mat-elevation-z2 source-code-btn btn" mat-flat-button color="accent"
          (click)="openLink('https://oowais.github.io/')">
    <mat-icon class="footer-items">person</mat-icon>
    Portfolio
  </button>
</div>
