<mat-card class="projects-title-card btn">
  <mat-card-title>Projects</mat-card-title>
</mat-card>
<mat-accordion class="projects-headers-align" multi>
  <mat-expansion-panel *ngFor="let project of projects" class="expansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>{{project.title}}</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card class="projects-card mat-elevation-z0">
      <mat-card-subtitle *ngIf="project.langUsed">Languages used:{{project.langUsed}}</mat-card-subtitle>
      <mat-card-content>
        <p class="text">{{project.text}}</p>
        <p>Team size: {{project.teamSize}}</p>
      </mat-card-content>
      <mat-card-actions align="end" *ngIf="project.url">
        <button class="mat-elevation-z2 source-code-btn" mat-flat-button color="primary"
                (click)="openLink(project.url)">
          Github
          <mat-icon>open_in_new</mat-icon>
        </button>
      </mat-card-actions>
      <mat-card-footer>
        <p>{{project.date}}</p>
      </mat-card-footer>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
