<mat-sidenav-container class="container">
  <mat-sidenav #drawer mode="side" class="sidenav">
    <span>Under Development <3</span>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button color="accent" aria-label="To toggle sidenav" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <span>Welcome to Owais' Portfolio</span>
      <span class="spacer"></span>
      <button class="mat-elevation-z2 btn" mat-flat-button color="accent">Primary</button>
    </mat-toolbar>
    <div fxLayout="column" fxLayoutAlign="space-between start">
      <app-about-me class="about-me"></app-about-me>
      <app-interests></app-interests>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
