.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.source-code-btn {
  margin-top: 1em;
}

.slider {
  vertical-align: middle;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.main-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
