.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.source-code-btn {
  margin-top: 10px;
}

.slider {
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
}

.main-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
