<mat-card class="btn">
  <mat-card-title>Education</mat-card-title>
</mat-card>

<mat-tab-group animationDuration="1000ms">
  <mat-tab label="Masters">
    <mat-card class="ed-card">
      <mat-card-subtitle><b>Master of Science in Media Informatics</b></mat-card-subtitle>
      <mat-card-content>
        1.8 grade (German scale) <br/>
        RWTH Aachen University, Germany
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Bachelors">
    <mat-card class="ed-card">
      <mat-card-subtitle><b>Bachelor of Technology in Computer Engineering</b></mat-card-subtitle>
      <mat-card-content>
        7.9/10 <br/>
        Jama Millia Islamia, India
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Courses">
    <mat-card class="ed-card">
      <mat-card-subtitle><b>Relevant courses studied in curriculum:</b></mat-card-subtitle>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let course of courses">{{course}}<mat-divider></mat-divider></mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-tab>

</mat-tab-group>
