<mat-card class="btn">
  <mat-card-title>Education</mat-card-title>
</mat-card>

<mat-tab-group animationDuration="1000ms">
  <mat-tab label="Masters">
    <mat-card class="ed-card">
      <mat-card-subtitle><b>Master of Science in Media Informatics</b></mat-card-subtitle>
      <mat-card-content>
        <mat-list>
          <mat-list-item>Grade: 1.8 (German scale)</mat-list-item>
          <mat-list-item>
            <mat-icon>place</mat-icon>
            Aachen, Germany
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions align="end">
        <button class="mat-elevation-z2 btn source-code-btn" mat-button color="primary"
                (click)="openTranscript('ms')">
          View Transcript
          <mat-icon>task</mat-icon>
        </button>
        <button class="mat-elevation-z2 source-code-btn btn" mat-button color="primary"
                (click)="openLink('https://www.rwth-aachen.de/')">
          RWTH Aachen University
          <mat-icon>open_in_new</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>

  <mat-tab label="Bachelors">
    <mat-card class="ed-card">
      <mat-card-subtitle><b>Bachelor of Technology in Computer Engineering</b></mat-card-subtitle>
      <mat-card-content>
        <mat-list>
          <mat-list-item>Grade: 7.9/10</mat-list-item>
          <mat-list-item>
            <mat-icon>place</mat-icon>
            New Delhi, India
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions align="end">
        <button class="mat-elevation-z2 btn source-code-btn" mat-button color="primary"
                (click)="openTranscript('btech')">
          View Transcript
          <mat-icon>task</mat-icon>
        </button>
        <button class="mat-elevation-z2 source-code-btn btn" mat-button color="primary"
                (click)="openLink('https://www.jmi.ac.in/fet')">
          Jamia Millia Islamia FET
          <mat-icon>open_in_new</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>

  <mat-tab label="Courses">
    <mat-card class="ed-card">
      <mat-card-subtitle><b>Relevant courses studied in curriculum:</b></mat-card-subtitle>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let course of courses">{{course}}
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-tab>

</mat-tab-group>
