<mat-card class="work-ex-card btn">
  <mat-card-title>Work Experience</mat-card-title>
</mat-card>
<mat-accordion hideToggle class="work-ex-headers-align" multi>
  <mat-expansion-panel expanded *ngFor="let exp of experiences">
    <mat-expansion-panel-header>
      <mat-panel-title matTooltip="Job title">
        <b>{{exp.title}}</b>
      </mat-panel-title>
      <mat-panel-description class="right-aligned">
        <div matTooltip="Company">
          <button class="mat-elevation-z2 source-code-btn" mat-stroked-button color="primary"
                  (click)="openLink(exp.companyUrl)">
            {{exp.company}} <mat-icon>open_in_new</mat-icon>
          </button>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <span matTooltip="Job duration">{{exp.duration}}</span>
    <ul>
      <li *ngFor="let task of exp.tasks">{{task}}</li>
    </ul>
    <mat-action-row>
      <mat-chip-list>
        <mat-chip selected *ngFor="let skill of exp.skills">{{skill}}</mat-chip>
      </mat-chip-list>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
